In [4]:
import seaborn as sns
import pandas as pd
import numpy as np

In [5]:
games1 = {
   "type": ["Puzzle","casino","stratergy"],
   "downloads":[12300,10000,9800]
}

games2 = {
    "type":["RPG","simulation","shooter"],
    "downloads":[17920,9245,10600]
}

In [8]:
df1 = pd.DataFrame(games1)
df2 = pd.DataFrame(games2)

In [10]:
df = pd.concat([df1,df2],axis = 0)

In [11]:
df.head()

         type  downloads
0      Puzzle      12300
1      casino      10000
2   stratergy       9800
0         RPG      17920
1  simulation       9245

In [19]:
games3 = {
    "type":["Puzzle","casino","stratergy","RPG","simulation","shooter"],
    "revenue":[12900,190000,993800,179290,924353,103600  ]
}

In [20]:
df3 = pd.DataFrame(games3)

In [21]:
new_df = pd.merge(df,df3,on = "type")

In [22]:
new_df

         type  downloads  revenue
0      Puzzle      12300    12900
1      casino      10000   190000
2   stratergy       9800   993800
3         RPG      17920   179290
4  simulation       9245   924353
5     shooter      10600   103600